.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #212529; 
  padding: 10px 0;
}

.container {
  max-width: 100%;
}

.footer .btn {
  background-color: rgb(52, 52, 52);
  transition: background-color 0.3s ease;
}

.footer .btn:hover {
  background-color: black;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1; 
}
